
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html, input, textarea, button{
    font-family:  'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
 }
 
 @media (max-width: 1080px) {
    html{
       font-size: 93.75%;
    }
 }
 
 @media (max-width: 720px) {
    html{
       font-size: 87.5%;
    }
 }